@{
    ViewBag.Title = "VCategoria";
}
<div id="content">
    <h1 align="center">CATEGORIA</h1>
    <div class="contacto">
        @foreach (var k in @ViewBag.cp) 
        {
          @k.idPublicacion
        }
    </div>
</div>