@{
    ViewBag.Title = "CursoEnviado";
}
<div class="contacto" align="center">
    <h2>PUBLICACION DE CURSO ENVIADO</h2>
    <div class="home"><a href="../Publicacion/ContCurso"><img src="@Url.Content("~/Content/images/home-1-72.png")" alt="Home Page" width="64" height="64" /></a>
        <p class="cursive">Continuar Libro</p>
    </div>
    <div class="about"><a href="../Home/Index"><img src="@Url.Content("~/Content/images/info.png")" alt="About Us" width="62" height="63" /></a>
        <p class="cursive">Terminar Libro</p>
    </div>
</div>