<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
 
<head>
  <title>Ejemplo</title>
  <link rel="stylesheet" type="text/css" href="estilo.css" />
</head>
<body>
@*<h1>Ejemplo de simulación de marcos o frames</h1>
 
<div id="columna">
<h2>Menú</h2>
<ul>
  <li><a href="#marco1">Marco 1</a></li>
  <li><a href="#marco2">Marco 2</a></li>
</ul>
</div>
 
<div id="contenido">
<div id="marco1">
<h2>Contenido 1</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper sem quis felis pulvinar laoreet. Donec euismod erat semper diam sodales non vehicula mauris elementum. Aliquam commodo sollicitudin nisl, eget consequat turpis tempor vitae. Suspendisse rhoncus erat nec tellus vulputate ac egestas nulla tristique. Mauris nisl enim, fringilla non dapibus ac, tincidunt ullamcorper ligula. Etiam ut tellus eros. Donec congue dignissim feugiat. Aenean pellentesque convallis leo ut facilisis. Vestibulum ac turpis quis felis vestibulum vulputate a ac eros. Aenean ultricies sapien quis sapien congue nec rhoncus ligula consectetur. Nam dolor orci, feugiat vel vestibulum sit amet, pellentesque quis sem. Proin tempus mauris quis lacus tempus fringilla. Cras ut justo nec nunc porta hendrerit.</p>
<p>Nulla turpis nunc, posuere at varius a, fermentum non orci. Aenean condimentum erat vel justo luctus consequat. Donec vehicula erat in risus pretium faucibus. Curabitur tempus vehicula libero non commodo. Nullam eu mauris a nulla molestie sodales eu vitae ligula. Nulla elementum sem quis dolor tincidunt nec pellentesque mauris ultrices. Maecenas imperdiet, erat ac porta rutrum, metus elit lacinia lectus, sit amet pulvinar risus metus quis tortor. Morbi sed nisi turpis, sit amet convallis nulla. Fusce quis ullamcorper mauris. Integer commodo semper posuere. Fusce elementum nisl ac augue consequat nec pulvinar dolor laoreet. Mauris nulla tortor, mollis quis imperdiet vel, rhoncus quis erat. Aliquam lectus metus, consectetur vitae feugiat vel, tincidunt nec velit. </p>
</div>
 
<div id="marco2">
<h2>Contenido 2</h2>
<p>Nam urna nisl, blandit vitae molestie id, mattis ut augue. Ut sit amet libero felis, at scelerisque neque. Nulla luctus porta sapien, vel imperdiet odio euismod et. Donec id adipiscing felis. Nam pellentesque mollis pellentesque. Aliquam vel diam nec ante consectetur auctor sed vitae augue. Fusce erat massa, volutpat ac vulputate ac, dictum non arcu. Phasellus suscipit bibendum massa vel iaculis. Nullam bibendum viverra orci id aliquet. Duis consequat neque id lectus aliquet sed feugiat nisl adipiscing. Nunc suscipit est nec purus faucibus ultrices. </p>
<p>Mauris at velit nulla, id bibendum neque. Nullam et augue id elit convallis fringilla vel non urna. Nulla lectus ante, fermentum nec dapibus vitae, tincidunt vel lectus. Pellentesque luctus quam a mi mollis gravida. Curabitur est lorem, aliquam sed varius nec, adipiscing vel sapien. Donec at tortor tellus. Suspendisse vitae neque vitae odio mollis ultricies ac sed mi. Aenean et nisl non mauris molestie tempor et sed eros. Maecenas scelerisque placerat eros et bibendum. Mauris venenatis, enim sodales elementum consectetur, tellus nisi euismod sem, dapibus pulvinar lectus lorem nec enim. Quisque auctor fermentum scelerisque. Etiam sed nulla quis eros pellentesque convallis sit amet eu neque. Aenean mattis placerat vehicula. Cras eget lacus odio. Cras commodo fringilla pharetra. In eget lacus metus, dignissim rutrum diam. Fusce sed magna ut nulla cursus feugiat. Fusce fringilla quam id quam auctor feugiat. Nulla tincidunt venenatis diam, in varius libero imperdiet vitae. </p>
</div>
</div>*@
<div id="capa">
<img src="@Url.Content("~/Content/images/home-1-72.png")" alt="agua" />
<p>El agua (del latín aqua) es una sustancia cuya molécula está formada por dos átomos
de hidrógeno y uno de oxígeno (H2O). Es esencial para la supervivencia de todas las
formas conocidas de vida. El termino agua, generalmente, se refiere a la sustancia en
su estado líquido, pero la misma puede hallarse en su forma sólida llamada hielo, y
en forma gaseosa denominada vapor. El agua cubre el 71% de la superficie de la corteza
terrestre.[2] Se localiza principalmente en los océanos donde se concentra el 96,5% del
agua total, los glaciares y casquetes polares poseen el 1,74%, los depósitos
subterráneos (acuíferos), los permafrost y los glaciares continentales suponen el 1,72%
y el restante 0,04% se reparte en orden decreciente entre lagos, humedad del suelo,
atmósfera, embalses, ríos y seres vivos.[3] El agua es un elemento común del sistema
solar, hecho confirmado en descubrimientos recientes. Puede ser encontrada,
principalmente, en forma de hielo; de hecho, es el material base de los cometas y el
vapor que compone sus colas.</p>
</div>
 <div id="principal">
<div id="flotante">
<img src="@Url.Content("~/Content/images/home-1-72.png")" alt="agua" />
</div>
<p>El agua (del latín aqua) es una sustancia cuya molécula está formada por dos átomos
de hidrógeno y uno de oxígeno (H2O). Es esencial para la supervivencia de todas las
formas conocidas de vida. El termino agua, generalmente, se refiere a la sustancia en
su estado líquido, pero la misma puede hallarse en su forma sólida llamada hielo, y
en forma gaseosa denominada vapor. El agua cubre el 71% de la superficie de la corteza
terrestre.[2] Se localiza principalmente en los océanos donde se concentra el 96,5% del
agua total, los glaciares y casquetes polares poseen el 1,74%, los depósitos
subterráneos (acuíferos), los permafrost y los glaciares continentales suponen el 1,72%
y el restante 0,04% se reparte en orden decreciente entre lagos, humedad del suelo,
atmósfera, embalses, ríos y seres vivos.[3] El agua es un elemento común del sistema
solar, hecho confirmado en descubrimientos recientes. Puede ser encontrada,
principalmente, en forma de hielo; de hecho, es el material base de los cometas y el
vapor que compone sus colas.</p>
</div>

<div id="oscuro">
<div id="esquina">
<p>El agua (del latín aqua) es una sustancia cuya molécula está formada por dos átomos
de hidrógeno y uno de oxígeno (H2O). Es esencial para la supervivencia de todas las
formas conocidas de vida. El termino agua, generalmente, se refiere a la sustancia en
su estado líquido, pero la misma puede hallarse en su forma sólida llamada hielo, y
en forma gaseosa denominada vapor. El agua cubre el 71% de la superficie de la corteza
terrestre.[2] Se localiza principalmente en los océanos donde se concentra el 96,5% del
agua total, los glaciares y casquetes polares poseen el 1,74%, los depósitos
subterráneos (acuíferos), los permafrost y los glaciares continentales suponen el 1,72%
y el restante 0,04% se reparte en orden decreciente entre lagos, humedad del suelo,
atmósfera, embalses, ríos y seres vivos.[3] El agua es un elemento común del sistema
solar, hecho confirmado en descubrimientos recientes. Puede ser encontrada,
principalmente, en forma de hielo; de hecho, es el material base de los cometas y el
vapor que compone sus colas.</p>
</div>
</div>
</body>
</html>

<style>
html  {
  font: normal 13px arial,helvetica,sans-serif;
  }
 
h1  {
  text-align: center;
  color: #987;
  }
 
h2  {
  text-align: center;
  color: #777;
  }
 
ul {
  list-style: circle;
  color: #888;
  }
 
ul li a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
  }
 
ul li a:hover {
  color: #f00;
  }
 
p {
  color: #456;
  }
 
/* Capas del ejemplo  */
 
div#columna {
  border: solid 1px #ccc;
  position: absolute;
  left: 30px;
  top: 80px;
  width: 150px;
  height: 350px;
}
 
div#contenido {
  border: solid 1px #ccc;
  position: absolute;
  overflow: hidden;
  left: 200px;
  top: 80px;
  width: 580px;
  height: 350px;
  padding: 0 20px;
}
 
div#marco1, div#marco2 {
  height: 100%;
  width: 100%;
}
#capa {
  width: 610px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #f60;
  background: #fed;
  }
 
#capa img {
  float: left;
  margin: 0 10px 10px 0;
  opacity: 0.5;
  }
  #principal{
  width: 610px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #f60;
  background: #fed;
  }
 
#principal #flotante{
  float: left;
  width: 300px;
  }
 
#principal p{
  margin-top: 0;
  margin-left: 310px;
  }
  #oscuro  {
  width: 420px;
  background: #444;
  padding: 60px;
  background: rgba(0,0,0,0.5);
  }
 
#esquina  {
 background: #fff url(../images/bg.jpg) bottom right no-repeat;
 }
 
#esquina p  {
  padding: 50px;
  margin: 0;
  }
  
</style>



<html>
<head>
<title>Efecto cortina</title>
<style>
.articulo, .articulo_jquery, .articulo_mootools {
  position: relative;
  width: 270px;
  overflow: hidden;
  border: 1px solid #ccc;
  height: 120px;
}
  
.articulo a, .articulo_jquery a, .articulo_mootools a{
  text-decoration: none;
  color: #000;
}
  
.imagen_articulo, .detalles_articulo {
  padding: 10px;
  height: 100px;
}
  
.imagen_articulo {
  margin-top: 0;
  background: #000000;

  -webkit-transition-property: margin-top;
  -webkit-transition-duration: .5s;
  
  -moz-transition-property: margin-top;
  -moz-transition-duration: .5s;
  
  -o-transition-property: margin-top;
  -o-transition-duration: .5s;
  
  -ms-transition-property: margin-top;
  -ms-transition-duration: .5s;

}
.imagen_articulo h3 {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: "Open Sans", arial, sans-serif;
  text-align: center;
}
  
.detalles_articulo {
  background: #EEEEEE;
  color: #666666;
  font-family: Arial;
  font-size: 12px;
}

.articulo:hover .imagen_articulo {
  margin-top: -120px;
}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js"></script>
</head>
<body>
<p>Ejemplo extraído del artículo: <a href="http://www.lawebera.es/como-hacer/ejemplos-css/efecto-cortina-css3-jquery-mootools.php" >Efecto cortina con CSS3, jQuery y MootTools</a></p>

<h2>CSS</h2>
<div class="articulo">
  <a href="http://www.lawebera.es">
    <div class="imagen_articulo">
      <img src="http://i1238.photobucket.com/albums/ff491/dnavarro1/lawebera.jpg" alt="" />
      <h3>www.lawebera.es</h3>
    </div>
    <div class="detalles_articulo">
      <p>En esta página encontrarás cantidad de información para aprender a hacer tus páginas web, además de amplios servicios de diseño web profesional para empresas y particulares.</p>
    </div>
  </a>
</div>
</body>
</html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>CSSLab.cl - Animaciones CSS3 Avanzadas</title>
	<style type="text/css">
		body 	{font-family: georgia, serif;}
		h1 		{color: #666; text-shadow: #ccc 1px 1px 2px;}
		h1 a 	{color: #c00; font-size: 18px;}
		
		.caja {
			margin: 20px;
			width: 400px;
			padding: 10px;
			height: 40px;
			background-color: #ccc;
			border: 1px solid #666;
			color: #333;
			-webkit-transition-property: background-color, color;
			-webkit-transition-timing-function: cubic-bezier(1,0,1,0);
			-moz-transition-property: background-color, color;
			-moz-transition-timing-function: cubic-bezier(1,0,1,0);
			-o-transition-property: background-color, color;
			-o-transition-timing-function: cubic-bezier(1,0,1,0);
			-ms-transition-property: background-color, color;
			-ms-transition-timing-function: cubic-bezier(1,0,1,0);
		}
			#container:hover .caja {
				background-color: #f00;
				color: #fff;
			}
			#container:hover #caja1 {
				-webkit-transition-duration: 0.5s; 
				-moz-transition-duration: 0.5s; 
				-o-transition-duration: 0.5s;
				-ms-transition-duration: 0.5s;
			}
			#container:hover #caja2 {
				-webkit-transition-duration: 1s; 
				-moz-transition-duration: 1s; 
				-o-transition-duration: 1s;
				-ms-transition-duration: 1s;
			}
			#container:hover #caja3 {
				-webkit-transition-duration: 1.5s; 
				-moz-transition-duration: 1.5s; 
				-o-transition-duration: 1.5s;
				-ms-transition-duration: 1.1s;
			}
			#container:hover #caja4 {
				-webkit-transition-duration: 2s; 
				-moz-transition-duration: 2s; 
				-o-transition-duration: 2s;
				-ms-transition-duration: 2s;
			}
			#container:hover #caja5 {
				-webkit-transition-duration: 2.5s; 
				-moz-transition-duration: 2.5s; 
				-o-transition-duration: 2.5s;
				-ms-transition-duration: 2.5s;
			}
			#container:hover #caja6 {
				-webkit-transition-duration: 3s; 
				-moz-transition-duration: 3s; 
				-o-transition-duration: 3s;
				-ms-transition-duration: 3s;
			}
	</style>
	
</head>

<body>
	<h1>CSSLab.cl - Animaciones CSS3 Avanzadas <a href="http://www.csslab.cl/2011/06/21/animaciones-css3-avanzadas/" title="Volver al artículo original">[Volver]</a></h1>
	
	<div id="container">
		<div id="caja1" class="caja">Caja 1<br />transition-duration: 0.5s;</div>
		<div id="caja2" class="caja">Caja 2<br />transition-duration: 1s;</div>
		<div id="caja3" class="caja">Caja 3<br />transition-duration: 1.5s;</div>
		<div id="caja4" class="caja">Caja 4<br />transition-duration: 2s;</div>
		<div id="caja5" class="caja">Caja 5<br />transition-duration: 2.5s;</div>
		<div id="caja6" class="caja">Caja 6<br />transition-duration: 3s;</div>
	</div>
	<script type="text/javascript">
	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-79823-1']);
	    _gaq.push(['_trackPageview']);
	    (function () {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	</script>
	<script type="text/javascript">
	    function woopraReady(tracker) {
	        tracker.setDomain('csslab.cl');
	        tracker.setIdleTimeout(300000);
	        tracker.track();
	        return false;
	    }
	    (function () {
	        var wsc = document.createElement('script');
	        wsc.src = document.location.protocol + '//static.woopra.com/js/woopra.js';
	        wsc.type = 'text/javascript';
	        wsc.async = true;
	        var ssc = document.getElementsByTagName('script')[0];
	        ssc.parentNode.insertBefore(wsc, ssc);
	    })();
	</script>
</body>
</html>

<html lang="en">
<head>
<title>Hacer un resplandor exterior con CSS3</title>
   <style type="text/css">
   body{
      font-family: Trebuchet MS, verdana, sans-serif;
      background-color: #000;
      color: #fff;
   }
   #resplandorblanco{   
      -moz-box-shadow: 0px 0px 30px #ffffff;
      -webkit-box-shadow: 0px 0px 30px #ffffff;
      box-shadow: 0px 0px 30px #ffffff;
      
      padding: 10px;
      border: 1px solid #fff;
      width: 160px;
      margin: 40px;
   }
   
   #resplandorverde{   
      -moz-box-shadow: 0px 0px 30px #A3FF0F;
      -webkit-box-shadow: 0px 0px 30px #A3FF0F;
      box-shadow: 0px 0px 30px #A3FF0F;
      
      padding: 10px;
      border: 1px solid #66ff00;
      width: 160px;
      margin: 40px;
   }
   </style>
</head>
<body>
   <div id="resplandorblanco">
      Esta capa tiene un resplandor exterior!!
   </div>
   
   <br>
   <br>
   
   <div id="resplandorverde">
      Esta capa tiene un resplandor exterior, pero ahora he utilizado un resplandor de color verde!!
   </div>
</body>
</html>

